:root {
  font-family: Ubuntu, system-ui, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: x-large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
}

body > * {
  margin: 0.5rem;
}

#app {
  max-width: 1280px;
  margin-top: 2rem;
  text-align: center;
}

#stream {
  margin-top: 2rem;
  border: 2px dashed #3498db;
  max-width: 80vw;
}

#volumeMeter {
  width: 20%;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

/* Style the background bar */
#volumeMeter::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
}

/* Style the progress value */
#volumeMeter::-webkit-progress-value {
  background-color: #76c7c0; /* Default color */
  transition: background-color 0.3s ease;
  border-radius: 5px; /* Smooth corners */
}

#volumeMeter[data-volume="high"]::-webkit-progress-value {
  background-color: #ff4d4d; /* High volume (>80%) color */
}

#themeButton {
  font-size: 1rem;
}

textarea {
  border: none;
  border-radius: 1rem;
}

body,
input,
select,
button {
  transition: background-color 0.3s ease-in-out;
}

* {
  transition: color 0.3s ease-in-out;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}
