body {
  background-color: #1e1e1e;
}

* {
  color: #e6e6e6;
}

a {
  color: #ffcc00;
}

input {
  background-color: #333;
}

select {
  background-color: #333;
}

select:disabled {
  color: #666;
}

button {
  background-color: #333;
}

button:disabled {
  color: #666;
}

textarea {
  background-color: #333;
}
